m/src/main/java/com/maxelyz/webservice/MaxarWSPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://webservice.maxelyz.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.maxelyz.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.maxelyz.com/" schemaLocation="MaxarWSPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
  </message>
  <message name="sayHelloGalaxyFrom">
    <part name="parameters" element="tns:sayHelloGalaxyFrom"/>
  </message>
  <message name="sayHelloGalaxyFromResponse">
    <part name="parameters" element="tns:sayHelloGalaxyFromResponse"/>
  </message>
  <message name="countActiveUser">
    <part name="parameters" element="tns:countActiveUser"/>
  </message>
  <message name="countActiveUserResponse">
    <part name="parameters" element="tns:countActiveUserResponse"/>
  </message>
  <message name="getActiveUsers">
    <part name="parameters" element="tns:getActiveUsers"/>
  </message>
  <message name="getActiveUsersResponse">
    <part name="parameters" element="tns:getActiveUsersResponse"/>
  </message>
  <portType name="MaxarWS">
    <operation name="sayHelloWorldFrom">
      <input ns1:Action="http://webservice.maxelyz.com/MaxarWS/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://webservice.maxelyz.com/MaxarWS/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayHelloGalaxyFrom">
      <input ns3:Action="http://webservice.maxelyz.com/MaxarWS/sayHelloGalaxyFromRequest" message="tns:sayHelloGalaxyFrom" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://webservice.maxelyz.com/MaxarWS/sayHelloGalaxyFromResponse" message="tns:sayHelloGalaxyFromResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="countActiveUser">
      <input ns5:Action="http://webservice.maxelyz.com/MaxarWS/countActiveUserRequest" message="tns:countActiveUser" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://webservice.maxelyz.com/MaxarWS/countActiveUserResponse" message="tns:countActiveUserResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getActiveUsers">
      <input ns7:Action="http://webservice.maxelyz.com/MaxarWS/getActiveUsersRequest" message="tns:getActiveUsers" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://webservice.maxelyz.com/MaxarWS/getActiveUsersResponse" message="tns:getActiveUsersResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

