m/src/wsdl/192.168.50.65_83/VoiceConvert.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="ConvertVoice"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="track_id" type="xs:int"/><xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConvertVoiceResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConvertVoiceResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetMp3DownloadLink"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="track_id" type="xs:int"/><xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetMp3DownloadLinkResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetMp3DownloadLinkResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>